.Footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FooterEl {
    cursor: pointer;
    background-color: #1c3954;
    padding: 10px;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
}

.FooterElActivated {
    background-color: #162d42;
}

