.Content {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.PostImage img {
    max-width: 100%;
    max-height: 768px;
}
